#### dict = dictionary  
#### 딕셔너리 만들기  
대응 관계를 나타내는 자료형으로 key와 key에 할당되는 데이터(value)가 한 쌍이 되는 자료형이다.  
{key: value, key: value, ...}와 같은 형태를 가지는 자료형이다.  
key는 일반적으로 string 형태로 만들어 사용하고 value는 딕셔너리에 저장할 데이터를 입력한다.

In [2]:
# 빈 딕셔너리 만들기

In [3]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [5]:
# 생성자 함수를 사용해서 딕셔너리를 만들 수 있다.

In [6]:
b = dict()
print(b)
print(type(b))

{}
<class 'dict'>

In [7]:
a = {'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
print(a)
print(type(a))

{'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
<class 'dict'>

#### 딕셔너리에 데이터 추가 및 수정하기  
존재하지 않는 key에 value를 할당하면 데이터가 추가되고 존재하는 key에 데이터를 할당하면 데이터가 수정된다.

In [8]:
# 딕셔너리이름[key] = value

In [27]:
# 추가

In [50]:
a = {'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
print(a)
a['gender'] = '남자'
print(a)

{'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
{'name': '홍길동', 'phone': '010-1234-1234', 'age': 20, 'gender': '남자'}

In [ ]:
# 수정

In [36]:
print(a)
a['gender'] = '여자'  
print(a)

{'name': '홍길동', 'phone': '010-1234-1234', 'age': 20, 'gender': '남자'}
{'name': '홍길동', 'phone': '010-1234-1234', 'age': 20, 'gender': '여자'}

#### 딕셔너리에 저장된 데이터 삭제하기

In [10]:
# del 딕셔너리이름[key]

In [52]:
a = {'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
print(a)
del a['age']
print(a)

{'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
{'name': '홍길동', 'phone': '010-1234-1234'}

#### 딕셔너리에 저장된 데이터 얻어오기

In [12]:
# 딕셔너리이름[key] 또는 딕셔너리이름.get(key)

In [39]:
a = {'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
print(a['name'])
print(a.get('phone'))
print(a['age'])
print(a.get('age'))

홍길동
010-1234-1234
20
20

In [15]:
# keys() 메소드는 딕셔너리에서 key 목록만 얻어온다.

In [45]:
a = {'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
print(a)
print(a.keys())
print(a.values())
print(a.items())

{'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
dict_keys(['name', 'phone', 'age'])
dict_values(['홍길동', '010-1234-1234', 20])
dict_items([('name', '홍길동'), ('phone', '010-1234-1234'), ('age', 20)])

In [17]:
# values() 메소드는 딕셔너리에서 value 목록만 얻어온다.

In [41]:
a = {'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
print(a.values())

dict_values(['홍길동', '010-1234-1234', 20])

In [19]:
# items() 메소드는 딕셔너리에서 key와 value를 쌍으로 묶은 튜플을 얻어온다.

In [43]:
a = {'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
print(a.items())

dict_items([('name', '홍길동'), ('phone', '010-1234-1234'), ('age', 20)])

In [21]:
# clear() 메소드는 딕셔너리에 저장된 모든 데이터를 삭제한다.

In [47]:
a = {'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
a.clear()
print(a)

{}

In [23]:
# del 명령을 사용하면 딕셔너리 자체를 삭제할 수 있다.

In [48]:
a = {'name': '홍길동', 'phone': '010-1234-1234', 'age': 20}
del a
print(a)

NameError: name 'a' is not defined