#### 튜플 만들기  
1. 튜플은 리스트와 비슷하지만 리스트는 데이터를 []로 둘러싸고 튜플은 ()로 둘러싼다.
2. 리스트는 데이터의 수정, 삭제가 가능하지만 튜플은 수정, 삭제가 불가능하다.

In [1]:
# 빈 튜플 만들기

In [2]:
a = ()
print(a)
print(type(a))

()
<class 'tuple'>

In [3]:
# 생성자 함수를 이용해 빈 튜플 만들기

In [4]:
b = tuple()
print(b)
print(type(b))

()
<class 'tuple'>

In [5]:
# 데이터가 1개인 튜플 만들기

In [9]:
# ()를 일반적인 연산식에 사용하는 ()로 인식해서 상수를 기억하는 변수가 만들어진다.

In [10]:
b = (1)
print(b)
print(type(b))

1
<class 'int'>

In [11]:
# 데이터를 1개만 가지는 튜플을 만들어 사용해야 한다면 반드시 데이터 뒤에 ',' 를 찍어야 한다

In [12]:
c = (1,) 
print(c)
print(type(c))

(1,)
<class 'tuple'>

In [37]:
b = (1,2,3)
print(b)
print(type(b))
c = ('a','b','c')
print(c)
print(type(c))
d = (1,2,'a','b','c')
print(d)
print(type(d))

(1, 2, 3)
<class 'tuple'>
('a', 'b', 'c')
<class 'tuple'>
(1, 2, 'a', 'b', 'c')
<class 'tuple'>

In [39]:
e = (1,2,('a','b','c'))
print(e)
print(type(e))
f = (1,2,['a','b','c'])
print(f)
print(type(f))

(1, 2, ('a', 'b', 'c'))
<class 'tuple'>
(1, 2, ['a', 'b', 'c'])
<class 'tuple'>

In [40]:
g = [1,2,('a','b','c')]
print(g)
print(type(g))

[1, 2, ('a', 'b', 'c')]
<class 'list'>

In [15]:
# 튜플은 ()를 생략하더라도 변수에 데이터를 ','로 구분해서 여러개를 넣어주면 자동으로 튜플로 인식한다.

In [16]:
a = 1, 2, 3, 4, 5, 6, 7
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [19]:
# 튜플은 리스트 처럼 인덱싱과 슬라이싱이 가능하다.

In [20]:
a = 1, 2, 3, 4, 5, 6, 7
print(a[0])
print(a[-1])
print(a[2:4])
print(a[:4])
print(a[2:])

1
7
(3, 4)
(1, 2, 3, 4)
(3, 4, 5, 6, 7)

In [21]:
# 튜플은 리스트 처럼 '+', '*' 연산이 가능하다.

In [41]:
a = 1, 2, 3
print(a)
b = 'a', 'b'
print(a+b)
print(a*3)

(1, 2, 3)
(1, 2, 3, 'a', 'b')
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [23]:
# 튜플은 리스트와 달리 수정과 삭제를 할 수 없다. => 한 번 생성한 데이터를 변경할 수 없다.

In [31]:
a = 1, 2, 3, 4, 5, 6, 7
print(a)
a[0] = 'z' # 튜플에 저장된 데이터를 수정하려 했으므로 에러가 발생된다.

(1, 2, 3, 4, 5, 6, 7)

TypeError: 'tuple' object does not support item assignment

In [32]:
a = 1, 2, 3, 4, 5, 6, 7
print(a)
del a[0]  # 튜플에 저장된 데이터를 삭제하려 했으므로 에러가 발생된다.

(1, 2, 3, 4, 5, 6, 7)

TypeError: 'tuple' object doesn't support item deletion

In [33]:
a = 1, 2, 3, 4, 5, 6, 7
del a     # del 명령으로 튜플 자체를 제거하는 것은 가능하다.
print(a)

NameError: name 'a' is not defined

In [34]:
# 두 기억장소에 저장된 데이터 교환하기

In [35]:
a = 3
b = 4
print('a = {}, b = {}'.format(a,b))

temp = a
a = b
b = temp
print('a = {}, b = {}'.format(a,b))

[a, b] = [b, a]
print('a = {}, b = {}'.format(a,b))

a, b = b, a
print('a = {}, b = {}'.format(a,b))

a = 3, b = 4
a = 4, b = 3
a = 3, b = 4
a = 4, b = 3